@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
*{
  box-sizing: border-box;
  text-align: center;
}

html, body{
  margin: 0;
  padding: 0;
}

body{

}

img{
  max-width: 100%;
  height: auto;
}

ul,li{
  margin: 0;
  padding: 0;
}

li{
display: inline-block;
}

header{
  background-color: hsl(59, 90%, 61%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
}

.logo{
  margin-top: 2rem;
  font-size: 4rem;
  margin-bottom: -2rem;
  font-family: 'Pangolin', cursive;
}
.tagline{
  font-weight: bolder;
}
header ul{

}

.nav__link{
  color: hsl(219, 68%, 15%);
  margin-left: 2rem;
  text-decoration: none;
}

.nav__link:hover{
  text-decoration: underline;
  font-size: 1.25rem;
  transition: 0.3s;
}

.intro{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  place-items: center
}

.image, .content{

}

.content--heading{
  background-color: hsl(59, 90%, 61%);
  color: white;
  font-size: 4rem;
  text-align: center;
}

.content--paragraph{
  font-size: 1.25rem;
}

.sec .content--paragraph{

}
.sec .image{
  
}


@media only screen and (min-width:768px)
{/* for desktop */

  *{
    text-align: left;
  }

  header{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
  }

  section{
    width: 80%;
    margin: 0 auto;
  }

  .intro{
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }

  .content--heading{
    background-color: white;
    color: hsl(59, 90%, 61%);
    font-size: 3rem;
  }
}
