@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
  box-sizing: border-box;
}



html, body{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

img{
  max-width: 100%;
  height: auto;
}

ul,li{
  margin: 0;
  padding: 0;
}

li{
display: inline-block;
}

header{
  background-color: hsl(59, 90%, 61%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
}

.logo{
  margin-top: 2rem;
  font-size: 4rem;
  margin-bottom: -2rem;
  font-family: 'Pangolin', cursive;
}
.tagline{
  font-weight: bolder;
}
header ul{

}

.nav__link{
  color: hsl(219, 68%, 15%);
  margin-left: 2rem;
  font-size: 1.25rem;
  text-decoration: none;
}

.nav__link:hover{
  text-decoration: underline;
  font-weight: bold;
  transition: 0.3s;
}

.intro{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  place-items: center
}

.image, .content{

}

.content--heading{
  background-color: hsl(59, 90%, 61%);
  color: white;
  font-size: 4rem;
  text-align: center;
  padding: 1rem 0;
}

.content--paragraph{
  padding: 1rem 0;
  font-size: 1.25rem;
}

.sec .content--paragraph{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.sec .image{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.vision, .mission{
  background-color: hsl(59, 90%, 61%);
  color: hsl(228, 85%, 9%);
  border-radius: 1rem;
  padding: 1rem 0;
  margin: 1rem;
}

footer{
  padding: 0 10%;
  background-color: hsl(228, 85%, 9%);
  color: white;
}

footer ul{
  margin: 1rem 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.footer__link{
  padding: .5rem 1rem;
}



.footer__blocks{
  display: grid;
  grid-template-columns: auto ;
  grid-template-rows: auto auto auto;
  text-align: left;
  margin-left: 1rem;
}

.footer__block{
  padding: 1rem 0;
}

@media only screen and (min-width:768px)
{/* for desktop */

  body{
    text-align: left;
  }

  header{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
  }

  section{
    width: 80%;
    margin: 0 auto;
  }

  .intro{
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }

  .content--heading{
    background-color: white;
    color: hsl(59, 90%, 61%);
    font-size: 3rem;
  }
  .sec .content--paragraph{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .sec .image{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .block{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding: 2rem 0;
  }

  .vision, .mission{
    text-align: center;
  }
  footer ul{
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;
  }

  .footer__blocks{
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
  }
}
